# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/.vscode/

# Django
backend/db.sqlite3
backend/__pycache__/
backend/**/*.pyc
backend/*.sqlite3

# Python venv
venv/
env/
ENV/
*.env

# Mac / OS / IDE / misc
.DS_Store
*.log
*.tmp
*.swp

# General
*.bak
*.orig
*.old

# PyCharm / VSCode
.idea/
.vscode/

