@import "tailwindcss";

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #3490dc;
    --secondary-color: #ffed4a;
    --accent-color: #e3342f;
    --background-color: #f8fafc;
    --text-color: #333;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
